<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <title>{{ title }}</title>
</head>
<body id="center-body" >
    <h1>Welcome {{username | upper }}</h1>
    <h2>
        Favourite Designer:<br/>
        {% for style in designer %}

            {% if style == 19 %}
                {{ style + 180}} <br/>
            {% else %}
                {{ style }}<br/>
            {% endif %}

        {% endfor %}
    </h2>
    <br id="rev">
    {{ designer.1 | reverse}}
    </br>

</body>
